<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="menu">
            <a href="/index.html" class="logo">DataFlow</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="/images/menu.png" class="menu-icono" alt="Menú">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="../views/productos.html">Productos</a></li>
                    <li><a href="../views/presupuesto.html">Presupuesto</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<main class="container">
    <section class="contacto">
        <h2>Contacto</h2>
        <div class="contacto-content">
            <!-- Mapa -->
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d60544.97903172479!2d-69.99339604600924!3d18.480887337591597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m3!3m2!1d18.506308!2d-69.856653!4m0!5e0!3m2!1ses!2smx!4v1733769019459!5m2!1ses!2smx" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- Información de la Empresa -->
            <div class="info-empresa">
                <h3>Datos de la Empresa</h3>
                <p><i class="fas fa-map-marker-alt"></i> Calle Ejemplo 123, Colonia Centro, Ciudad, País</p>
                <p><i class="fas fa-phone-alt"></i> Teléfono: +52 123 456 7890</p>
                <p><i class="fas fa-envelope"></i> Email: contacto@empresa.com</p>
                <p><i class="fas fa-clock"></i> Horario: Lunes a Viernes, 9:00 AM - 6:00 PM</p>
            </div>
        </div>
    </section>
</main>

<footer class="footer">
    <div class="footer-content container">
        <div class="social-links">
            <h3>Síguenos</h3>
            <a href="https://www.facebook.com/share/5CDgXLsJiVB9NuzQ/?mibextid=LQQJ4d" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
        <div class="company-info">
            <h3>Dirección</h3>
            <p>Calle Ejemplo 123, Colonia Centro, Ciudad, País</p>
            <p>Teléfono: +52 123 456 7890</p>
            <p>Email: contacto@empresa.com</p>
        </div>
        <div class="legal-info">
            <h3>Aviso Legal</h3>
            <a href="/views/terminos.html">Términos y condiciones</a>
            <a href="/views/politica-privacidad.html">Política de privacidad</a>
        </div>
    </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>
